@model IEnumerable<VeterinaryApplication.Models.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Veterinary Application - Owners Records</h1>

<p>
    <a asp-action="Create">Add New Owner</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Years)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Years)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pets.Count)
                </td>
  
            <td>
                    <i class="fa fa-pencil">
                        <a asp-action="Edit" asp-route-id="@item.OwnerId"> Edit  </a> |
                    </i>
                    <i class="fa fa-address-book-o">
                        <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a> |
                    </i>
                    <i class="fa fa-trash-o"> <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a> </i>
            </td>
        </tr>

}
    </tbody>
</table>
