@model IEnumerable<VeterinaryApplication.Models.Vaccine>

@{
    ViewData["Title"] = "Index";
}

<h1>Veterinary Application - Pet Vaccines Records</h1>

<p>
    <a asp-action="Create">Add New Vaccine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <i class="fa fa-pencil"> <a asp-action="Edit" asp-route-id="@item.VaccineId">Edit</a> </i>
                    <i class="fa fa-address-book-o">
                    <a asp-action="Details" asp-route-id="@item.VaccineId">Details</a> </i>
                    <i class="fa fa-trash-o"> 
                        <a asp-action = "Delete" asp-route-id = "@item.VaccineId"> Delete </a> </i>
            </td>
        </tr>
}
    </tbody>
</table>
